*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./image/bird2.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.opacity{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}
.icon{
    width: 40px;
    height: 40px;
    padding-left: 30px;
    padding-top: 20px;
}
.icon .ion-android-menu{
    font-size: 40px;
    color: white;
}
.container{
    width: 500px;
    height: 650px;
    margin: auto;
    background: #6af937;
    border-radius: 10px;
    overflow: hidden;
}
.header{
    padding:10px 20px;
}
.form{
    padding: 20px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    margin-bottom: 10px;
    display: inline-block;
}
.form-control .success input{
    border-color: 2px solid darkgreen;
}
.form-control.error input{
    border-color: 2px solid red;
}
.form-control input{
    display: block;
    height:30px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #6af937;
}
.form-control small{
    position: absolute;
    padding: 3px;
    visibility: hidden;
}
button{
    width: 120px;
    height: 30px;
    background: #025f13;
    color:white;
    font-family: 'poppins';
    margin-left: 150px;
    border: 2px solid #6f9a37;
}
.form-control.success input{
    border-color: white;
}
.form-control.error input{
    border-color: red;
}





